.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.DrumMachine {
  width: 700px;

  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: auto repeat(3, 1fr);
  grid-template-areas: 
    "pad-bank title title"
    "pad-bank display display"
    "pad-bank volume volume"
    "pad-bank sounds power";
  justify-content: center;

  // Change app layout to vertical
  @media (max-width: 768px) {
    width: 400px;
    column-gap: 0;
    row-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto) 65px repeat(2, auto);
    grid-template-areas: 
      "title title"
      "pad-bank pad-bank"
      "display display"
      "volume volume"
      "sounds power";
  }

  @media (max-width: 500px) {
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    align-content: center;
  }
}

// Animated Rick Sanchez
.img-rick {
  position: absolute;
  width: 200px;
  left: -200px;
  top: 5%;
  transition: transform 1s;
  z-index: 10;

  // Move higher up and decrease the size so it's not 
  // everlapping the ui
  @media (max-width: 700px) {
    top: -10px;
    width: 150px;
  }
}
.show-rick {
  transform: translateX(200px);
}


.pad-bank {
  grid-area: pad-bank;

  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(3, minmax(80px, 1fr));
  grid-template-columns: repeat(3, minmax(80px, 1fr));
}

.drum-pad.MuiButton-root {
  font-size: 20px;
  font-weight: 600;
}

.title {
  grid-area: title;
}

.display {
  grid-area: display;

  display: flex;
  justify-content: center;
  align-items: center;
}

.volume-slider {
  grid-area: volume;

  .slider {
    padding: 0 10px;
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
}

.sounds-switch {
  grid-area: sounds;
}

.power-switch {
  grid-area: power;
}

